<div id="form">
    <div class="home-wrapper">
        <div class="home-logo">
            <div class="cblocks">
                <div class="cblocks-rotater">
                    <div class="cblock"></div>
                    <div class="cblock"></div>
                    <div class="cblock"></div>
                </div>
                <div class="cblocks-inner"></div>
                <div class="cblocks-text">Expensed</div>
            </div>
        </div>

        <ul class="bg-bubbles">
            <li><i class="icon-money-1"></i></li>
            <li><i class="icon-money"></i></li>
            <li>&#36;</li>
            <li><i class="icon-money-1"></i></li>
            <li><i class="icon-money-1"></i></li>
            <li>&#36;</li>
            <li>&#36;</li>
            <li>&#36;</li>
            <li>&#36;</li>
            <li><i class="icon-money-1"></i></li>
        </ul>
    </div>

    <div id="form-wrap">
        <h1>Hello {{user.first}}!</h1>
        <h2>Would you like to add an expense?</h2>

        <!-- login form -->
        <form method="post" novalidate name="expense">

            <div class="top-row">
                <div class="field-wrap">
                    <label ng-show="!newExpense.merchant.length">
                        Merchant<span class="req">*</span>
                    </label>
                    <input type="text" name="merchant" ng-model="newExpense.merchant" ng-required="true" />
                    <p class="error" ng-show="expense.merchant.$invalid && expense.merchant.$touched"> Please, enter merchant name.</p>
                </div>

                <div class="field-wrap">
                    <label ng-show="!newExpense.cost">
                        Cost<span class="req">*</span>
                    </label>
                    <input type="number" name="cost" ng-model="newExpense.cost" ng-required="true" />
                    <p class="error" ng-show="expense.cost.$invalid && expense.cost.$touched">Please, enter cost of expense.</p>
                </div>

                <div class="field-wrap">
                    <label ng-show="!newExpense.type.length">
                        Type<span class="req">*</span>
                    </label>
                    <input type="text" name="type" ng-model="newExpense.type" ng-required="true" />
                    <p class="error" ng-show="expense.type.$invalid && expense.type.$touched"> Please, enter type of expense (ie: food).</p>
                </div>

                <div class="field-wrap">
                    <input type="date" name="date" ng-model="newExpense.date" ng-required="true" />
                </div>

                <div class="field-wrap">
                    <label ng-show="!newExpense.comment.length">
                      Comment<span class="req">*</span>
                    </label>
                    <input type="text" name="comment" ng-model="newExpense.comment" ng-required="true" />
                    <p class="error" ng-show="expense.comment.$invalid && expense.comment.$touched"> Please, enter comment.</p>
                </div>

                <button type="submit" class="button button-block" ng-click="addUserExpense()" />
                  Add Expense
              </button>
            </div>
        </form>
        <!-- login form -->
    </div>

    <div class="container">
        <div class="pending">
            <h2 id="pen">pending</h2>
            <div class="heading">
                <span class="headSpan border">merch</span>
                <span class="headSpan border">cost</span>
                <span class="headSpan border">type</span>
                <span class="headSpan border">date</span>
                <span class="headSpan border">cmnt</span>
                <span class="headSpan">edit</span>
            </div>

            <div class="content" ng-repeat="expense in expenses">
                <span ng-show="edit" class="headSpan">
                  {{ expense.merchant }}
                </span>
                <span ng-show="edit" class="headSpan negative">
                  {{ -expense.cost | number: 2 }}
                </span>
                <span ng-show="edit" class="headSpan">
                  {{ expense.type }}
                </span>
                <span ng-show="edit" class="headSpan">
                  {{ expense.date | date: "M/d/yy" }}
                </span>
                <span ng-show="edit" class="headSpan">
                  {{ expense.comment }}
                </span>

                <span ng-hide="edit" class="headSpan">
                  <input id="editInput" class="smInput" ng-model="expense.merchant" placeholder="{{expense.merchant}}">
                </span>
                <span ng-hide="edit" class="headSpan">
                  <input id="editInput" class="smInput" ng-model="expense.cost" placeholder="{{expense.cost}}">
                </span>
                <span ng-hide="edit" class="headSpan">
                  <input id="editInput" class="smInput" ng-model="expense.type" placeholder="{{expense.type}}">
                </span>
                <span ng-hide="edit" class="headSpan">
                  {{expense.date | date: "M/d/yy"}}
                  <input id="editInput" class="smInput" type="text" ng-model="expense.date" placeholder="MM/DD/YYYY" >
                </span>
                <span ng-hide="edit" class="headSpan">
                  <input id="editInput" class="smInput" ng-model="expense.comment" placeholder="{{expense.comment}}">
                </span>

                <span class="headSpan">
                  <button class="contBtns" ng-show="edit" ng-click="edit=!edit">edit</button>
                  <button class="contBtns" ng-click="reimburse(expense)">Reimburse</button>
                  <button class="contBtns" ng-click="rmvExpense(expense)">remove</button>

                  <span ng-hide="edit">
                    <i class="icon-ok green" aria-hidden="true" ng-click="updateExpense(editExpense); edit=!edit; editExpense=null"></i>
                    <i class="icon-cancel negative" aria-hidden="true" ng-click="edit=!edit"></i>
                  </span>
                </span>
          </div>
        </div>

    </div>
    <div class="container">
        <div class="reimbursed">
            <h2 id="rmb">reimbursed</h2>
            <div class="heading">
                <span class="headSpan border">merch</span>
                <span class="headSpan border">cost</span>
                <span class="headSpan border">type</span>
                <span class="headSpan border">date</span>
                <span class="headSpan border">cmnt</span>
                <span class="headSpan">rmb</span>
            </div>
            <div class="content" ng-repeat="expense in reimbursed | orderBy:'':true">
                <span class="headSpan">{{ expense.merchant }}</span>
                <span class="headSpan positive">+{{ expense.cost | number: 2 }}</span>
                <span class="headSpan">{{ expense.type }}</span>
                <span class="headSpan">{{ expense.date | date: "M/d/yy" }}</span>
                <span class="headSpan">{{ expense.comment }}</span>
                <span class="headSpan">{{ expense.dateReimbursed | date: "M/d/yy" }}</span>
            </div>

        </div>
    </div>
    <a class="logout" ng-click="logout()"><i class="icon-user"></i>Logout</a>
</div>
<!-- /form -->
